physicsEngine/chrono
deepLearning/cuda
deepLearning/tensorflow
cmake-build-debug*
cmake-build-release*
cmake-build-rel*
cmake-build-default
/.cproject
/.project
.idea
.settings
*.log
*~
*.orig
*.swp
build/

*Config.cmake

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
